<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
 body{
 background-color:#ffcf0059;
}
nav{
 background-color:#ad38c2;
 height:60px;
 }
.navbar-brand{
color:white
}
</style>
</head>
<body>

<nav class="navbar">
<div class="containe-field">
<div class="navbar-header">

<a class="navbar-brand"><h1>Liver Patient Analysis</h1></a></nav>
 </div>
   
   <h2>Introduction</h2>

<p>Liver diseases averts the normal function of the liver. This disease is caused by an assortment of elements
that harm the liver. Diagnosis of liver infection at the preliminary stage is important for better treatment. In
today’s scenario devices like sensors are used for detection of infections. Accurate classification
techniques are required for automatic identification of disease samples. This disease diagnosis is very
costly and complicated. Therefore, the goal of this work is to evaluate the performance of different Machine
Learning algorithms in order to reduce the high cost of liver disease diagnosis. Early prediction of liver
disease using classification algorithms is an efficacious task that can help the doctors to diagnose the
disease within a short duration of time. In this project we will analyse the parameters of various
classification algorithms and compare their predictive accuracies so as to find out the best classifier for
determining the liver disease. This project compares various classification algorithms such as Random
Forest, Logistic Regression, KNN and ANN Algorithm with an aim to identify the best technique. Based on
this study, Random Forest with the highest accuracy outperformed the other algorithms and can be further
utilised in the prediction of liver disease and can be recommended to the user.
Technical Architecture:
Project Flow:
● User interacts with the UI to enter the input.
● Entered input is analysed by the model which is integrated.
● Once model analyses the input the prediction is showcased on the UI
To accomplish this, we have to complete all the activities listed below,
● Define Problem / Problem Understanding
○ Specify
</p>
</div>
 </html>