<!DOCTYPE html>
<html>
<head>
    <title>Liver Patient Analysis</title>
    <!-- Latest Compiled and minified CSS -->
    <Link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style type="text/css">
        body{
            background-color: #ffcf0059;
        }
        .page-header{
            background-color: blue;
            width: 100%;
            height: auto;
            text-align: center;
            padding-top: 5px;
            color: #fff;
               }
               h1{
            font-size: 40px;
            font-weight: bold;
        }
    </style>
    </head>
    </body>


       <div class="container">
       <div class="row">
       <div class="col-md-3"></div>
       <div class="col-md-6">
       <div class="page-header">
        <h1>Liver Patient Prediction</h1></div>
       <p style="color:red;">
        You have a liver desease problem,You must and should consult a doctor.Take care</h3></p>
        </style>        
        </div>
        </div>
        </div>
       </div>
    <!-- Latest Compiled and minified javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </html>
 